# ============================================
# ASP.NET WEB API / .NET CORE BACKEND IGNORE
# ============================================

# Build output
backend/src/**/bin/
backend/src/**/obj/
backend/tests/**/bin/
backend/tests/**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.ncb
*.aps
*.res
*.opendb

# Backup & logs
*.log
*.tmp
*.bak

# Publish output
backend/**/publish/
backend/**/out/

# Configuration 
hotel-booking-and-management-system/backend/src/HotelBooking.API/appsettings.Development.json
hotel-booking-and-management-system/backend/src/HotelBooking.API/appsettings.json
hotel-booking-and-management-system/backend/src/HotelBooking.API/google-credentials.json
hotel-booking-and-management-system/backend/.dockerignore
hotel-booking-and-management-system/backend/Dockerfile
hotel-booking-and-management-system/backend/docker-compose.yml


# NuGet packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuspec

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.exe
*.dll

# Rider / VS Code / JetBrains
.idea/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# ==========================
# FRONTEND (React)
# ==========================

# Node modules
hotel-booking-and-management-system/frontend/node_modules/

# Build output
hotel-booking-and-management-system/frontend/dist/
hotel-booking-and-management-system/frontend/build/

# Environment files
hotel-booking-and-management-system/frontend/.env
hotel-booking-and-management-system/frontend/.env.local
hotel-booking-and-management-system/frontend/.env.*.local

# Logs
hotel-booking-and-management-system/frontend/npm-debug.log*
hotel-booking-and-management-system/frontend/yarn-debug.log*
hotel-booking-and-management-system/frontend/yarn-error.log*
hotel-booking-and-management-system/frontend/pnpm-debug.log*
hotel-booking-and-management-system/frontend/logs/

# Temp files
hotel-booking-and-management-system/frontend/.cache/
hotel-booking-and-management-system/frontend/.parcel-cache/
hotel-booking-and-management-system/frontend/.vite/
hotel-booking-and-management-system/frontend/.next/

# System
hotel-booking-and-management-system/frontend/.DS_Store
